
<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Blog</h1>
    </div>
</header>



<div class="container" ng-init="getAll()">
    <div ng-include="'components/bc/bc.html'"></div>

    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h4 class="text-weight-normal" ng-show="ready">Showing {{countPosts()}}.</h4>
            <div class="blog">
                <div class="post" ng-repeat="item in posts">
                    <h2><a ui-sref="blogItem({id: item._id})">{{item.title}}</a></h2>
                    <p class="lead text-muted">
                        <span ng-if="item.categories.length > 0">Posted in
                        <span ng-repeat="cat in item.categories"><a ui-sref="blogCategory({cat: cat._id})">{{cat.name}}</a>{{$last ? '' : ', '}}</span></span>
                        <span ng-if="item.author.name">by {{item.author.name.first}}</span>
                    </p>
                    <p ng-bind-html="item.content.brief"></p>
                    <p class="read-more"><a ui-sref="blogItem({id: item._id})">Read more...</a></p>




                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <h2>Categories</h2>
            <div class="list-group">
                <a ui-sref="blog" class="list-group-item" ng-class="{active: isCatActive('all'), false: !isCatActive('all')}">All Categories</a>
                <a ui-sref="blogCategory({cat: cat._id})" class="false list-group-item"
                   ng-class="{active: isCatActive(cat._id), false: !isCatActive('all')}"
                   ng-repeat="cat in cats">{{cat.name}}<span class="badge">{{cat.postcount}}</span></a>


            </div>

        </div>


    </div>
   </div>

